* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fafafa;
}

/* Шапка сайта */

header {
  width: 100%;
  background: #1D1C1B;
  float: left;
  position: fixed;
  min-height: 42px;
}

header #logo {
  color: #fff;
  margin-top: 4px;
}

header #logo h6 {
  color: #FFFFFF;
  float: right;
  margin-right: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 34px;
}

header #logo span {
  font-size: 1.7em;
  margin-left: 20px;
  font-family: 'Suez One', serif;
  color: #FFCB66;
  cursor: pointer;
}

/* Стили для фиксированной шапки */

.fixed {
  z-index: 5000;
}

/* Приветствие */

#greeting-background {
    width: 100%;
    background-image: url(../pictures/greeting_background.png);
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 12%;
}

@media (min-width: 1001px) {
  #greeting-background {
    font-size: 3em;
    height: 787px;
  }
}

@media (max-width: 1000px) and (min-width: 651px) {
  #greeting-background {
    font-size: 2em;
    height: 500px;
  }
}

@media (max-width: 650px) {
  #greeting-background {
    font-size: 1.3em;
    padding-top: 20%;
    height: 300px;
  }
}

@media (max-width: 450px) {
  #greeting-background {
    font-size: 0.9em;
  }
}

.greeting {
    background: rgba(190, 190, 190, 0.66);
    border-radius: 50px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 4%

}

.btn-get-cons {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;

    text-align: center;
    font-size: 30px;

    background: linear-gradient(270.07deg, #A86F00 0.06%, #E2C07C 0.07%, #815500 0.08%, #A46C00 0.09%, #B17500 0.1%, #E0B869 102.02%);
    border-radius: 50px;
    color: #FFFFFF;

    cursor: pointer;
}

.greeting h4 {
  padding-top: 5%;
  padding-left: 10%;
  font-family: Poppins;
  background: linear-gradient(270.04deg, #A86F00 61.47%, #E2C07C 61.48%, #815500 61.48%, #A46C00 61.48%, #B17500 61.49%, #E0B869 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
}

.greeting h5 {
  font-family: Poppins;
  padding-top: 34%;
  font-size: 35px;
  color: #FFFFFF;
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 1000px) and (min-width: 651px) {
  .greeting h4 {
    font-size: 48px;
  }
}

@media (max-width: 650px) {
  .greeting h5 {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .greeting h5 {
    font-size: 12px;
  }

  .greeting h4 {
    font-size: 28px;
  }

  .btn-get-cons {
    font-size: 13px;
  }

  .greeting {
    border-radius: 37px;
  }
}

/* О нас */

#about h2{
  margin-top: 15px;
  margin-left: 40px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
}

#about ul{
  margin-top: 15px;
  margin-left: 61px;
  margin-bottom: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 183.02%;
}

/* Услуги */

#services {
  color: #FFFFFF;
  background: #1D1C1B;
  padding-bottom: 7%;
}

#services h2{
  padding-top: 30px;
  margin-left: 50px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
}

.service_cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: minmax(100px, auto);

}

.service {
  margin-left: auto;
  margin-right: auto;
  margin-top: 9%;

  max-width: 220px;
  min-height: 275px;
  text-align: center;
  display: flex;
  flex-direction: column;

  color: #FFFFFF;
}

.service img {
  display:flex;
  min-height: 250px;
}

.service h5{
  margin-top: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
}

.service h6{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.service-btn{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;

  padding-top: 8px;
  padding-bottom: 8px;

  background: linear-gradient(270.07deg, #A86F00 0.06%, #E2C07C 0.07%, #815500 0.08%, #A46C00 0.09%, #B17500 0.1%, #E0B869 102.02%);
  border-radius: 50px;
  color: #FFFFFF;

  cursor: pointer;
}

@media (max-width: 450px) {
  .service {
    margin-left: 9%;
    margin-top: 3%;

    max-width: 138px;
    min-height: 230px;
    border-radius: 37px;
  }

  .service img{
    max-width: 138px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }

  .service h5 {
    font-size: 15px;
  }

  .service h6 {
    font-size: 13px;
  }

  .service-btn{
    margin-top: 9px;
    border-radius: 22px;
  }

  #services h2{
    padding-top: 10px;
    margin-left: 37px;
    font-size: 30px;
  }
}

/* Форма консультации */

#consult {
    padding-bottom: 6%;
}

#form_consulting {
    border-radius: 50px;

    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;

    background: #1D1C1B;

    min-height: 400px;

    text-align: center;
}

#form_consulting h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;

  padding-top: 10px;

  margin-bottom: 40px;

  color: #FFFFFF;
}

#form_consulting p {
  margin-top: 10px;
}

#form_consulting input {
  min-height: 45px;
  min-width: 400px;
}

.form_message {
  color: green;
  margin-top: -29px;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 25px;
  padding-bottom: 51px;
}

.btn_consult {
  margin-top: 40px;
  margin-bottom: 40px;

  border-radius: 50px;
  border: none;

  background: linear-gradient(270.07deg, #A86F00 0.06%, #E2C07C 0.07%, #815500 0.08%, #A46C00 0.09%, #B17500 0.1%, #E0B869 102.02%);

  min-height: 50px;
  min-width: 400px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;

  cursor: pointer;
}

/* Блок с примерами квартир */
.examples {
  text-align: left;
  font-family: 'Inter';
  font-style: normal;

  margin-bottom: 50px;
}

.examples h2{
    font-size: 50px;
    font-weight: 600;

    margin-left: 80px;
    margin-top: 50px;
}

.examples h4{
  position: absolute;
  font-weight: 700;
  font-size: 20px;

  background: linear-gradient(85deg, #A86F00 0.06%, #E2C07C 0.07%, #815500 0.08%, #A46C00 0.09%, #B17500 0.1%, #E0B869 102.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: -30px;
  margin-left: 10px;
  z-index: 100;
}

.examples h5{
  font-weight: 500;
  font-size: 26px;

  margin-left: 10px;
  margin-top: 7px;
}

.examples h6{
  font-weight: 400;
  font-size: 19px;
  margin-left: 10px;
}

.swiper-slide {
  margin-left: 4%;
  margin-top: 5%;
  background: #FFFFFF;
  border-radius: 49px;
  max-width: 280px;
  min-height: 275px;
  display: inline-block;
  box-shadow: 0em 0.7em 10px rgba(122,122,122,0.5);

}

.swiper-slide img{
    max-width: 280px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }

/* Блок коментарии */
.comments{
    background: #1D1C1B;
    padding-top: 1px;
}

.comments h2{
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 80px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
}

.comments .swiper-slide{
    display: grid;
    place-items: center;
    box-shadow: none;
    max-width: none;
    margin-left: 0;
    border-radius: 0;
    background: none;
    margin-top: 0;
}

.slider-card{
  text-align:left;
  background: #FFFFFF;
  max-width: 800px;
  min-height: 250px;
  border-radius: 50px;
  margin-top: 50px;
}

.slider-card h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;

    margin-left: 50px;
    margin-top: 60px;
}

.slider-card h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    margin-left: 50px;
    margin-top: 10px;
}

.swiper-button-next, .swiper-button-prev {
    top: unset !important;
    color: #FFFFFF !important;
    margin-top: -144px !important;
}

.swiper-button-next-e, .swiper-button-prev-e {
    top: unset !important;
    color: #FFFFFF !important;

}

#id_author, #id_text{
    box-sizing: border-box;
    height: 40px;
    min-height: 40px;
    min-width: 700px;
    border-radius: 40px;
    margin-top: 10px;
    padding: 0 20px;
}

.comment_input{
    display: grid;
    place-items: center;
    margin: 45px;
}

.btn_comment{
  margin-top: 40px;
  margin-bottom: 40px;

  border-radius: 50px;
  border: none;

  background: linear-gradient(270.07deg, #A86F00 0.06%, #E2C07C 0.07%, #815500 0.08%, #A46C00 0.09%, #B17500 0.1%, #E0B869 102.02%);

  min-height: 50px;
  min-width: 400px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;

  cursor: pointer;
}

/* apartment page */


.ap_info {
    border: 1px solid grey;
    border-radius: 50px;
    padding-top: 8%;
    margin-left: 5%;


}

#apartment .swiper-slide {

  background: none;
  border-radius: 0px;
  max-width: none;


  min-height: none;
  display: unset;
  box-shadow: none;

}

#apartment .swiper-slide img{
    max-width: 280px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

#apartment .swiper-button-next, #apartment .swiper-button-prev {
    top: unset !important;
    color: black !important;
    margin-top: -144px !important;
}