{% extends 'landing/base.html' %}
{% load static %}

{% block apartment %}
<div id="apartment">
    <div class="ap_info">
        <div class="swiper-wrapper">
        {% for apartment_photo in photos  %}
            <div class="swiper-slide">
                <img src="{{ apartment_photo.photo.url }}"/>
            </div>
        {% endfor %}
        </div>
        <div class="info">
            <h5>{{ ap.address }}</h5>
            <h5>{{ ap.underground }}</h5>
            <h5>{{ ap.square }}</h5>
            <h4>{{ ap.price }}</h4>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <div class="description">
        {{ ap.description }}
        <h4>Главное в сюжете: Главными героями киноленты все также остаются молодые люди. Они поставили перед собой цель и теперь упорно к ней стремятся. Им необходимо запустить новые проект ядра. При этом они должны сделать все для того, чтобы он обрел популярность в Соединенных Штатах Америки. Они смогут воплотить свой план в реальность только в том случае, если объединят свои усилия. Парни прекрасно понимают, что постоянные визиты инвесторов лишь останавливают весь процесс, именно поэтому они решили создать свое собственное дело. Каждый из парней уже на протяжении долгого времени занимается программированием./h4>
    </div>
</div>
{% endblock %}