{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CenterGroup</title>
  <link type="text/css" href="{% static 'landing/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
</head>
<body>
  <header>
    <div id="logo" onclick="slowScroll('#greeting-background')">
      <span href="{% url 'home' %}">logotype</span>
      <h6>+7 (123) 456-78-90</h6>
    </div>
  </header>

  {% block main_page %}
  {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <script>
    function slowScroll(id) {
      $('html, body').animate({
        scrollTop: $(id).offset().top
      }, 500);
    }

    $(document).on("scroll", function () {
      if($(window).scrollTop() === 0)
        $("header").removeClass("fixed");
      else
        $("header").attr("class", "fixed");
    });
  </script>
  <script>
    var swiper = new Swiper(".examples", {
      slidesPerView: 3,
      mousewheel: true,
      keyboard: true,
    });
  </script>
  <script>
    var swiper = new Swiper(".comments", {
      slidesPerView: 1,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      keyboard: true,
    });
  </script>
  <script>
    function h(e) {
      $(e).css({'height':'40','overflow-y':'hidden'}).height(e.scrollHeight);
    }
    $('textarea').each(function () {
      h(this);
    }).on('input', function () {
      h(this);
    });
  </script>
</body>

