{% extends 'landing/base.html' %}
{% load static %}

{% block main_page %}
<div id="greeting-background">
    <div class="greeting">
        <h4>Ваш слоган</h4>
        <h5>Получите консультацию риелтора <b>бесплатно</b></h5>
        <div class="btn-get-cons" onclick="slowScroll('#')">
            Записаться на консультацию
        </div>
    </div>
</div>
<div id="about">
    <h2>О нас:</h2>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
      <li>Dolores quaerat illo totam porro</li>
      <li>Quidem aliquid perferendis voluptates</li>
      <li>Ipsa adipisci fugit assumenda dicta voluptates nihil reprehenderit consequatur alias facilis rem</li>
      <li>Fuga</li>
    </ul>
</div>
<div id="services">
    <h2>Наши услуги:</h2>
    <div class="service">
        <img src="{% static 'landing/pictures/greeting_background.png' %}"/>
        <h5>Купля-продажа</h5>
        <h6>Цена: от <b>000 000 руб.</b></h6>
        <div class="service-btn">
            Смотреть подробнее
        </div>
    </div>
    <div class="service">
        <img src="{% static 'landing/pictures/greeting_background.png' %}"/>
        <h5>Аренда</h5>
        <h6>Цена: от <b>000 000 руб.</b></h6>
        <div class="service-btn">
            Смотреть подробнее
        </div>
    </div>
    <div class="service">
        <img src="{% static 'landing/pictures/greeting_background.png' %}"/>
        <h5>Консультирование</h5>
        <h6>Цена: от <b>000 000 руб.</b></h6>
        <div class="service-btn">
            Смотреть подробнее
        </div>
    </div>
</div>
<div class="examples">
    <h2>Примеры работ:</h2>
    <div class="swiper-wrapper">
        {% for apartment in apartments %}
            <div class="swiper-slide">
                {% with apartment.photos.all|first as first_photo %}
                <img src="{{ first_photo.photo.url }}"/>
                {% endwith %}
                <h4>status</h4>
                <h5>{{ apartment.price }}{{ apartment.price_punctuation }}</h5>
                <h6>{{ apartment.address }}</h6>
            </div>
        {% endfor %}
        <div class="swiper-slide">
                {% with apartment.photos.all|first as first_photo %}
                <img src="{% static 'landing/pictures/greeting_background.png' %}"/>
                {% endwith %}
                <h5>Смотреть еще</h5>
        </div>
    </div>
</div>
<div class="comments">
    <h2>Отзывы:</h2>
    <div class="swiper-wrapper">
        {% for comment in comments%}
            <div class="swiper-slide">
                <div class="slider-card">
                <h4>{{ comment.author }}</h4>
                <h5>{{ comment.text }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <h2>Оставить отзыв:</h2>
    <form id="form_comment" method="post">
        {% csrf_token %}
        <div class="comment_input">
            {% for f in comment_form %}
                <p>{{ f }}</p>
            {% endfor %}
            <button type="submit" class="btn_comment" name="comm_btn">Оставить</button>
            <div class="form_comment_message">{{ message }}</div>
        </div>
    </form>
</div>
<div id="consult">
    <form id="form_consulting" action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <h5>Заполните форму и получите <b>бесплатную</b> консультацию</h5>
        {% for f in feedback_form %}
            <p>{{ f }}</p>
        {% endfor %}
        <button type="submit" class="btn_consult" name="cons_btn">Записаться на консультацию</button>
        <div class="form_message">{{ message }}</div>
    </form>
</div>
{% endblock %}